body{
background:#0b0f19;
color:white;
font-family:Arial;
text-align:center;
margin:0;
}

.topbar{
background:#111827;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

.balance{
color:#facc15;
font-size:22px;
}

.game{
padding:20px;
}

#graph{
height:250px;
background:#0f172a;
border-radius:10px;
margin:20px;
position:relative;
overflow:hidden;
}

.line{
position:absolute;
bottom:0;
left:0;
width:2px;
background:#a855f7;
}

button{
background:#facc15;
border:none;
padding:15px 30px;
font-size:18px;
border-radius:10px;
margin:10px;
cursor:pointer;
}

input{
padding:10px;
font-size:18px;
border-radius:8px;
border:none;
width:200px;
}
